{% extends 'base.html' %}
{% load static %}
{% block title %}
Encrypt
{% endblock %}

{% block content %}
<script>
    function setThreshold() {s
        let threshold = [
            { "value": 2, "key": 'Two' },
            { "value": 3, "key": "Three" },
            { "value": 4, "key": "Four" },
            { "value": 5, "key": "Five" },
            { "value": 6, "key": "Six" },
            { "value": 7, "key": "Seven" },
            { "value": 8, "key": "Eight" },
            { "value": 9, "key": "Nine" }
        ];

        let total_shares = document.getElementById("participants").value;
        let thresholdid = document.getElementById("threshold");
        html = "";
        for (let i = 0; i < total_shares - 2; i++) {
            html += `<option value="${threshold[i].value}">${threshold[i].key}</option>`;
        }
        thresholdid.innerHTML = html;
        let emails = document.getElementById("emails");
        mails = `<div class="form-group">
                <label>Email of participant one</label>
                <input type="email" class="form-control" name="email0" required>
            </div>`;
        for (let i = 1; i < total_shares; i++) {
            mails += `<div class="form-group">
                        <label>Email of participant ${threshold[i-1].key}</label>
                        <input type="email" class="form-control" name="email${i}" required>
                    </div>`;
        }
        emails.innerHTML = mails;
    }

</script>
<div class="card col-md-8 mx-auto shadow-lg p-3 mb-5 bg-white rounded " id="form">
    <h3 class="mt-4 text-center">Please fill the encryption details</h3>
    <form action="/encrypt/" method="post" class="mt-4 px-3" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label>Participants</label>
            <select class="form-control" name="participants" id="participants" onChange="setThreshold()">
                {% for participant in participants %}
                <option value="{{participant.value}}">{{participant.key}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label>
                Threshold
            </label>
            <select class="form-control" name="threshold" id="threshold">
                <option value="2">Two</option>
            </select>
        </div>
        <div id="emails">
            <div class="form-group">
                <label>Email of participant one</label>
                <input type="email" class="form-control" name="email0" required>
            </div>
            <div class="form-group">
                <label>Email of participant two</label>
                <input type="email" class="form-control" name="email1" required>
            </div>
            <div class="form-group">
                <label>Email of participant three</label>
                <input type="email" class="form-control" name="email2" required>
            </div>
        </div>

        <div class="form-group">
            <label>Image to encrypt</label><br>
            <input type="text" name="unique_string" required>
            {% if error %}
                <p style="color:#ff0000;">String already exists, please choose another!</p>
            {% endif %}
        </div>

        <div class="form-group">
            <label>Image to encrypt</label><br>
            <input type="file" name="image" accept="image/*" required>
        </div>

        <input type="submit" class="btn btn-danger mb-4" value="encrypt" id="encrypt"/>
    </form>
</div>

<div class="text-center mt-4" id="load">
    <img src="{% static 'loading.gif' %}" alt="" style="width:320px">
    <h5> Loading ...</h5>
    <p>Please wait while processing</p>
</div>
    <script>
        var x = document.querySelector('#load');
        x.style.display = 'none';
        var y = document.querySelector('#encrypt');
        y.addEventListener("click", function(){
            var z = document.querySelector("#form");
            z.style.display = "none";
            x.style.display ="block";
        });
    </script>
{% endblock %}